<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Введите ваши данные</h1>
    <form method=post enctype=multipart/form-data>
        <p>Имя: </p>
        <input type="text" name="name" placeholder="Имя">
        <p>Эл.почта: </p>
        <input type="email" name="email" placeholder="E-mail">
        <input type=submit value=отправить>
    </form>
    
</body>
</html>