<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Счёт</title>
</head>
<body>
    <h1>Вычесление</h1>
    <form method=post>
        <input type=number name=num1>
        <input type=number name=num2>
        <input type=submit value=вычеслить>
        <select name="pets" id="pet-select">
            <option value="">*</option>
            <option value="sub">/</option>
            <option value="cat">-</option>
            <option value="hamster">+</option>

          </select>
    </form>
</body>
</html>